# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# If using the old Packages.config, keep it
!packages.config

# Log files
*.log

# Temp files
*.tmp
*.bak
